# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Media and staticfiles
media/
staticfiles/

# IDE/editor configs
.vscode/
.idea/

# Local DB
db.sqlite3
